@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Anton:regular);

@import url(https://fonts.googleapis.com/css?family=Lato:300&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #242527;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.loaded body {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}

body summary {
  list-style: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-family: "Anton";
  opacity: 0.85;
  text-align: left;
}

.title_big {
  line-height: 5.5rem;
}

.title_big::before {
  content: "";
  display: block;
  width: 3rem;
  height: 0.25rem;
  background-color: #fff;
  margin-bottom: 1.25rem;
}

.title_big:not(:last-child) {
  margin-bottom: 1.75rem;
}

.title span {
  color: #f45d03;
  color: #ff285b;
}

.title__label {
  color: #ff285b;
}

.text {
  text-align: left;
  color: #b2b2b9;
  line-height: 1.375;
  max-width: 35rem;
}

.text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.text span {
  color: #f45d03;
  font-weight: 500;
  opacity: 0.8;
}

.category-link {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  color: #b2b2b9;
  line-height: 1;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 100;
}

.header._header-scroll {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  background-color: rgba(0, 0, 0, 0.81);
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10.625rem 6.875rem 1fr;
  grid-template-columns: 10.625rem 6.875rem 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  row-gap: 0.3125rem;
  min-height: 7.6875rem;
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
}

.header__logo {
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 5;
}

.menu-open .header__logo {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.header__button {
  position: relative;
  border: 0.0625rem solid #fff;
  color: #fff;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 0.8235294118;
  padding: 0.9375rem 1.5rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 6.25rem;
  z-index: 5;
}

.menu-open .header__button {
  color: #fff;
  border: 0.0625rem solid #fff;
}

.header__actions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.menu__item {
  text-align: right;
}

.menu__link {
  font-weight: 500;
  line-height: 1.1875;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link span {
  background-color: #ff285b;
  padding: 0.3125rem 0.625rem;
  border-radius: 0.125rem;
  font-size: 0.75rem;
}

.icon-menu {
  display: none;
}

.footer {
  padding-bottom: 1.25rem;
  background-color: #1f2022;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.75rem;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copy {
  font-size: 0.875rem;
}

.footer__copy a {
  color: #ff285b;
}

.section__privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.desc-section__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desc-section__logo:not(:last-child) {
  margin-bottom: 0.625rem;
}

.desc-section__logo p {
  position: relative;
  font-size: 0.5rem;
  opacity: 0.6;
}

.desc-section__logo p::before {
  content: "";
  border: 0.0625rem solid #fff;
  border-radius: 50%;
  position: absolute;
  top: -0.25rem;
  left: -0.125rem;
  width: 16px;
  height: 16px;
}

.desc-section__version {
  font-size: 0.75rem;
  margin-bottom: 0.625rem;
  opacity: 0.2;
}

.desc-section__text {
  max-width: 25rem;
  font-size: 1.125rem;
  line-height: 1.3;
}

.desc-section__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

.desc-section__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}

.desc-section__social img {
  width: 1.75rem;
  height: 1.75rem;
  -webkit-transition: scale 0.3s ease 0s;
  transition: scale 0.3s ease 0s;
}

.contacts-section__label {
  color: #f45d03;
  font-weight: 700;
  font-size: 1.25rem;
}

.contacts-section__label:not(:last-child) {
  margin-bottom: 1.25rem;
}

.contacts-section__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3125rem;
}

.hero-page {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero-page__content {
  position: relative;
  z-index: 2;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.06;
  pointer-events: none;
  z-index: 1;
}

.capability__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.capability__items {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
}

.item-capability {
  border-radius: 0.5rem;
  background-color: #2f3032;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: center;
}

.item-capability__icon {
  padding-bottom: 0.625rem;
}

.item-capability__icon img {
  width: 2.875rem;
  height: 2.875rem;
}

.item-capability__title {
  margin-bottom: 0.4375rem;
}

.products__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.products__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.products__arrow {
  border-radius: 1rem;
  background-color: #2f3032;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.products__arrow img {
  width: 2.5rem;
  height: 2.5rem;
}

.products__arrow_left {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.products__arrow.swiper-button-disabled {
  opacity: 0.5;
  cursor: default;
}

.item-products {
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.item-products__image-ibg {
  opacity: 0.5;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  overflow: hidden;
  padding-bottom: 37.5%;
}

.item-products__image-ibg img {
  -o-object-position: top;
     object-position: top;
  -webkit-transition: -webkit-transform 0.8s ease 0s;
  transition: -webkit-transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
}

.item-products__body {
  background-color: rgba(47, 48, 50, 0.2039215686);
  padding: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-products__title {
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.item-products__link-title {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 0.6666666667;
}

.item-products__category {
  line-height: 1.3;
}

.item-products__link img {
  width: 1.75rem;
  height: 1.75rem;
}

.news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.25rem;
  gap: 2.5rem;
}

.teamrun {
  padding: 1.875rem 1.875rem;
  border-radius: 0.5rem;
}

.teamrun__image-ibg {
  opacity: 1;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  overflow: hidden;
  padding-bottom: 12.5rem;
  margin-bottom: 1.25rem;
}

.teamrun__image-ibg img {
  -o-object-position: center;
     object-position: center;
  -webkit-transition: -webkit-transform 0.8s ease 0s;
  transition: -webkit-transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
  border-radius: 0.5rem;
}

.teamrun__date {
  margin-bottom: 0.625rem;
  font-size: 0.875rem;
}

.teamrun__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1.25rem;
}

.teamrun__body_label {
  font-size: 1.875rem;
  font-weight: 700;
}

.teamrun__body_link {
  font-size: 1.25rem;
  padding: 0.625rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #f45d03;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.teamrun__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.teamrun__item_desc {
  font-size: 1.375rem;
  color: #f45d03;
}

.participants {
  padding-top: 1.875rem;
}

.participants__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.participants__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 8.125rem;
  font-size: 1.25rem;
  background-color: #ff285b;
  padding: 0.625rem 1.25rem;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  border-radius: 0.25rem;
}

.spollers__title-participants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  font-size: 1.375rem;
  font-weight: 700;
}

.spollers__title-participants:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.spollers__title-participants img {
  width: 2.125rem;
  height: 2.125rem;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.spollers__title-participants._spoller-active img {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.spollers__body-participants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  opacity: 0.7;
}

.spollers__body-participants:not(:last-child) {
  margin-bottom: 0.625rem;
}

.lens__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.posts {
  padding: 1.875rem 1.875rem;
  border-radius: 0.5rem;
  background-color: rgba(49, 50, 53, 0.5882352941);
}

.posts__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
}

.posts__body {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
}

.user__icon img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.date-user__name:not(:last-child) {
  margin-bottom: 0.25rem;
}

.date-user__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.date-user__body_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2rem;
  height: 2rem;
  margin-right: 0.625rem;
}

.date-user__body_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.date-user__body_time::after {
  content: "";
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background-color: #fff;
}

.body-posts__name {
  font-size: 1.25rem;
  font-weight: 700;
}

.body-posts__subname {
  opacity: 0.7;
}

.body-posts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.items__distance_name:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.items__pace_name:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.items__time_name:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.posts__achievement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(36, 37, 39, 0.5607843137);
  padding: 0.625rem 1.25rem;
  border-radius: 0.875rem;
  gap: 0.625rem;
}

.posts__slide {
  padding: 0;
  margin: 0;
}

.posts__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.75rem;
}

.footer-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 0.3125rem;
}

.footer-posts__like img,
.footer-posts__comments img,
.footer-posts__share img {
  width: 2.125rem;
  height: 2.125rem;
  -webkit-transition: scale 0.3s ease 0s;
  transition: scale 0.3s ease 0s;
}

.achievement-posts__logo img {
  width: 2rem;
  height: 2rem;
}

.achievement-posts__text {
  line-height: 1.2;
}

.page__teamrace {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.teamrace__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team {
  background-color: rgba(49, 50, 53, 0.5882352941);
  border-radius: 0.5rem;
  padding: 2.5rem;
}

.item-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0rem 2.375rem 1.5rem 2.375rem;
}

.item-team__avatar-ibg {
  border-radius: 50%;
  overflow: hidden;
  width: 6.875rem;
  height: 6.875rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: translate(0px, -10%);
      -ms-transform: translate(0px, -10%);
          transform: translate(0px, -10%);
}

.item-team__avatar-ibg img {
  -o-object-position: top;
     object-position: top;
  opacity: 0.8;
}

.item-team__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 1.25rem;
  line-height: 1.3;
}

.item-team__text p:not(:last-child) {
  margin-bottom: 1.25rem;
}

.item-team__text a {
  color: #ff285b;
}

.item-team__name {
  font-size: 1.125rem;
  color: #f45d03;
  font-weight: 700;
  line-height: 0.8333333333;
}

.item-team__name:not(:last-child) {
  margin-bottom: 0.625rem;
}

.item-team__profession {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 0.875rem;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 0.3125rem;
  }

  .video {
    width: 100%;
  }
}

@media (min-width: 47.99875em) and (min-width: 75em) {
  .menu__list {
    -webkit-column-gap: 3.5rem;
       -moz-column-gap: 3.5rem;
            column-gap: 3.5rem;
  }
}

@media (min-width: 61.99875em) {
  ._header-scroll .header__logo {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
  }

  .posts__slide {
    width: 31.25rem;
    height: 25rem;
  }
}

@media (min-width: 76.875em) {
  .title {
    font-size: 3.5rem;
  }

  .title_big {
    font-size: 5.125rem;
  }

  .text {
    font-size: 1.75rem;
  }

  .header__logo img {
    width: 10rem;
  }

  .footer {
    padding-top: 5.625rem;
  }

  .desc-section__logo {
    width: 2.125rem;
  }

  .desc-section__logo {
    height: 2.125rem;
  }

  .hero-page {
    padding-top: 13.125rem;
  }

  .capability__container {
    margin-bottom: 5.625rem;
  }

  .capability__title:not(:last-child) {
    margin-bottom: 6.25rem;
  }

  .capability__items {
    gap: 3.5rem;
  }

  .item-capability {
    padding: 0.9375rem;
  }

  .products__header {
    margin-bottom: 9rem;
  }

  .page__news {
    padding-top: 13.125rem;
  }

  .page__news {
    padding-bottom: 2.5rem;
  }

  .lens {
    padding-top: 13.125rem;
  }

  .lens {
    padding-bottom: 2.5rem;
  }

  .page__teamrace {
    padding-top: 13.125rem;
  }

  .page__about {
    padding-top: 13.125rem;
  }

  .page__about {
    padding-bottom: 2.5rem;
  }

  .team__title {
    margin-bottom: 6.25rem;
  }

  .item-team__text:not(:last-child) {
    margin-bottom: 3rem;
  }
}

@media (min-width: 106.25em) {
  .title_big {
    line-height: 6.875rem;
  }

  .text {
    max-width: 50rem;
  }

  .hero-page {
    padding-top: 16.25rem;
  }

  .page__news {
    padding-top: 16.25rem;
  }

  .lens {
    padding-top: 16.25rem;
  }

  .page__teamrace {
    padding-top: 16.25rem;
  }

  .page__about {
    padding-top: 16.25rem;
  }
}

@media (min-width: 106.25em) and (min-width: 76.875em) {
  .title_big {
    font-size: 6.25rem;
  }

  .text {
    font-size: 2.375rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 2.5rem;
  }

  .title_big {
    font-size: 4.5rem;
  }

  .text {
    font-size: 1.375rem;
  }

  .header__logo img {
    width: 6.25rem;
  }

  .footer {
    padding-top: 2.5rem;
  }

  .desc-section__logo {
    width: 1.875rem;
  }

  .desc-section__logo {
    height: 1.875rem;
  }

  .hero-page {
    padding-top: 10rem;
  }

  .capability__container {
    margin-bottom: 1.25rem;
  }

  .capability__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .capability__items {
    gap: 1.25rem;
  }

  .item-capability {
    padding: 0.9375rem;
  }

  .products__header {
    margin-bottom: 1.875rem;
  }

  .page__news {
    padding-top: 5.625rem;
  }

  .page__news {
    padding-bottom: 0.625rem;
  }

  .lens {
    padding-top: 5.625rem;
  }

  .lens {
    padding-bottom: 0.625rem;
  }

  .page__teamrace {
    padding-top: 10rem;
  }

  .page__about {
    padding-top: 5.625rem;
  }

  .page__about {
    padding-bottom: 0.625rem;
  }

  .team__title {
    margin-bottom: 2.5rem;
  }

  .item-team__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 61.99875em) {
  body summary::-webkit-details-marker {
    display: none;
  }

  .title_big::before {
    background-color: #b2b2b9;
  }
}

@media (max-width: 47.99875em) {
  .title {
    padding-left: 1.25rem;
  }

  .header._header-scroll {
    background-color: rgba(0, 0, 0, 0.932);
  }

  .header__container {
    padding-top: 0;
    padding-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 4.375rem;
  }

  .header__button {
    font-size: 1rem;
    background-color: #ff285b;
    border: 0.0625rem solid #ff285b;
  }

  .menu-open .header__button {
    display: none;
  }

  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #242527;
    padding: 5.625rem 0.9375rem 0.9375rem 1.25rem;
    -webkit-transition: right 0.15s ease 0s;
    transition: right 0.15s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 4.375rem;
    background-color: #212123;
    -webkit-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu-open .menu__body::before {
    right: 0;
  }

  .menu__list {
    padding-top: 2.5rem;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .menu__link {
    color: #fff;
    font-size: 2.375rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 0.9375rem;
    height: 0.875rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    z-index: 5;
  }

  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.15625rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #ff285b;
    width: 80%;
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #ff285b;
    width: 80%;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.5rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .item-capability__icon {
    padding: 0.3125rem 0rem;
  }

  .item-capability__text {
    padding: 0.625rem 0.9375rem;
  }

  .news__container {
    padding: 0;
  }

  .teamrun {
    border-radius: 0rem;
  }

  .teamrun__date {
    text-align: center;
    font-size: 0.875rem;
  }

  .teamrun__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.9375rem;
  }

  .teamrun__item_desc {
    text-align: center;
  }

  .teamrun__item_text {
    text-align: center;
  }

  .participants {
    border-radius: 0rem;
  }

  .participants__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .spollers__body-participants {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .lens__container {
    padding: 0;
  }

  .posts {
    border-radius: 0rem;
  }

  .user__icon img {
    width: 1.875rem;
    height: 1.875rem;
  }

  .date-user__body {
    gap: 0.3125rem;
  }

  .date-user__body_icons {
    width: 1.25rem;
    height: 1.25rem;
  }

  .date-user__body_time {
    gap: 0.3125rem;
    font-size: 0.75rem;
  }

  .date-user__body_place {
    font-size: 0.75rem;
  }

  .footer-posts__like img,
  .footer-posts__comments img,
  .footer-posts__share img {
    width: 1.75rem;
    height: 1.75rem;
  }

  .achievement-posts__text {
    font-size: 0.75rem;
  }

  .about__container {
    padding: 0;
  }

  .team {
    border-radius: 0rem;
  }

  .item-team {
    padding: 0;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (min-width: 20em) and (max-width: 76.875em) {
@supports (font-size: clamp( 2.5rem , 2.1483516484rem  +  1.7582417582vw , 3.5rem )) {
    .title {
      font-size: clamp( 2.5rem , 2.1483516484rem  +  1.7582417582vw , 3.5rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 2.1483516484rem  +  1.7582417582vw , 3.5rem )) {
    .title {
      font-size: calc(2.5rem + 1 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 4.5rem , 4.2802197802rem  +  1.0989010989vw , 5.125rem )) {
    .title_big {
      font-size: clamp( 4.5rem , 4.2802197802rem  +  1.0989010989vw , 5.125rem );
    }
}

@supports not (font-size: clamp( 4.5rem , 4.2802197802rem  +  1.0989010989vw , 5.125rem )) {
    .title_big {
      font-size: calc(4.5rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.375rem , 1.2431318681rem  +  0.6593406593vw , 1.75rem )) {
    .text {
      font-size: clamp( 1.375rem , 1.2431318681rem  +  0.6593406593vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.2431318681rem  +  0.6593406593vw , 1.75rem )) {
    .text {
      font-size: calc(1.375rem + 0.375 * (100vw - 20rem) / 56.875);
    }
}

@supports (width: clamp( 6.25rem , 4.9313186813rem  +  6.5934065934vw , 10rem )) {
    .header__logo img {
      width: clamp( 6.25rem , 4.9313186813rem  +  6.5934065934vw , 10rem );
    }
}

@supports not (width: clamp( 6.25rem , 4.9313186813rem  +  6.5934065934vw , 10rem )) {
    .header__logo img {
      width: calc(6.25rem + 3.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.4010989011rem  +  5.4945054945vw , 5.625rem )) {
    .footer {
      padding-top: clamp( 2.5rem , 1.4010989011rem  +  5.4945054945vw , 5.625rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.4010989011rem  +  5.4945054945vw , 5.625rem )) {
    .footer {
      padding-top: calc(2.5rem + 3.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (width: clamp( 1.875rem , 1.7870879121rem  +  0.4395604396vw , 2.125rem )) {
    .desc-section__logo {
      width: clamp( 1.875rem , 1.7870879121rem  +  0.4395604396vw , 2.125rem );
    }
}

@supports not (width: clamp( 1.875rem , 1.7870879121rem  +  0.4395604396vw , 2.125rem )) {
    .desc-section__logo {
      width: calc(1.875rem + 0.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (height: clamp( 1.875rem , 1.7870879121rem  +  0.4395604396vw , 2.125rem )) {
    .desc-section__logo {
      height: clamp( 1.875rem , 1.7870879121rem  +  0.4395604396vw , 2.125rem );
    }
}

@supports not (height: clamp( 1.875rem , 1.7870879121rem  +  0.4395604396vw , 2.125rem )) {
    .desc-section__logo {
      height: calc(1.875rem + 0.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 10rem , 8.9010989011rem  +  5.4945054945vw , 13.125rem )) {
    .hero-page {
      padding-top: clamp( 10rem , 8.9010989011rem  +  5.4945054945vw , 13.125rem );
    }
}

@supports not (padding-top: clamp( 10rem , 8.9010989011rem  +  5.4945054945vw , 13.125rem )) {
    .hero-page {
      padding-top: calc(10rem + 3.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.2884615385rem  +  7.6923076923vw , 5.625rem )) {
    .capability__container {
      margin-bottom: clamp( 1.25rem , -0.2884615385rem  +  7.6923076923vw , 5.625rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.2884615385rem  +  7.6923076923vw , 5.625rem )) {
    .capability__container {
      margin-bottom: calc(1.25rem + 4.375 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.3365384615rem  +  7.6923076923vw , 6.25rem )) {
    .capability__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.3365384615rem  +  7.6923076923vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.3365384615rem  +  7.6923076923vw , 6.25rem )) {
    .capability__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 1.25rem , 0.4587912088rem  +  3.956043956vw , 3.5rem )) {
    .capability__items {
      gap: clamp( 1.25rem , 0.4587912088rem  +  3.956043956vw , 3.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.4587912088rem  +  3.956043956vw , 3.5rem )) {
    .capability__items {
      gap: calc(1.25rem + 2.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding: clamp( 0.9375rem , 0.9375rem  +  0vw , 0.9375rem )) {
    .item-capability {
      padding: clamp( 0.9375rem , 0.9375rem  +  0vw , 0.9375rem );
    }
}

@supports not (padding: clamp( 0.9375rem , 0.9375rem  +  0vw , 0.9375rem )) {
    .item-capability {
      padding: calc(0.9375rem + 0 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , -0.6304945055rem  +  12.5274725275vw , 9rem )) {
    .products__header {
      margin-bottom: clamp( 1.875rem , -0.6304945055rem  +  12.5274725275vw , 9rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , -0.6304945055rem  +  12.5274725275vw , 9rem )) {
    .products__header {
      margin-bottom: calc(1.875rem + 7.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 5.625rem , 2.9876373626rem  +  13.1868131868vw , 13.125rem )) {
    .page__news {
      padding-top: clamp( 5.625rem , 2.9876373626rem  +  13.1868131868vw , 13.125rem );
    }
}

@supports not (padding-top: clamp( 5.625rem , 2.9876373626rem  +  13.1868131868vw , 13.125rem )) {
    .page__news {
      padding-top: calc(5.625rem + 7.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 0.625rem , -0.0343406593rem  +  3.2967032967vw , 2.5rem )) {
    .page__news {
      padding-bottom: clamp( 0.625rem , -0.0343406593rem  +  3.2967032967vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , -0.0343406593rem  +  3.2967032967vw , 2.5rem )) {
    .page__news {
      padding-bottom: calc(0.625rem + 1.875 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 5.625rem , 2.9876373626rem  +  13.1868131868vw , 13.125rem )) {
    .lens {
      padding-top: clamp( 5.625rem , 2.9876373626rem  +  13.1868131868vw , 13.125rem );
    }
}

@supports not (padding-top: clamp( 5.625rem , 2.9876373626rem  +  13.1868131868vw , 13.125rem )) {
    .lens {
      padding-top: calc(5.625rem + 7.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 0.625rem , -0.0343406593rem  +  3.2967032967vw , 2.5rem )) {
    .lens {
      padding-bottom: clamp( 0.625rem , -0.0343406593rem  +  3.2967032967vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , -0.0343406593rem  +  3.2967032967vw , 2.5rem )) {
    .lens {
      padding-bottom: calc(0.625rem + 1.875 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 10rem , 8.9010989011rem  +  5.4945054945vw , 13.125rem )) {
    .page__teamrace {
      padding-top: clamp( 10rem , 8.9010989011rem  +  5.4945054945vw , 13.125rem );
    }
}

@supports not (padding-top: clamp( 10rem , 8.9010989011rem  +  5.4945054945vw , 13.125rem )) {
    .page__teamrace {
      padding-top: calc(10rem + 3.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 5.625rem , 2.9876373626rem  +  13.1868131868vw , 13.125rem )) {
    .page__about {
      padding-top: clamp( 5.625rem , 2.9876373626rem  +  13.1868131868vw , 13.125rem );
    }
}

@supports not (padding-top: clamp( 5.625rem , 2.9876373626rem  +  13.1868131868vw , 13.125rem )) {
    .page__about {
      padding-top: calc(5.625rem + 7.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 0.625rem , -0.0343406593rem  +  3.2967032967vw , 2.5rem )) {
    .page__about {
      padding-bottom: clamp( 0.625rem , -0.0343406593rem  +  3.2967032967vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , -0.0343406593rem  +  3.2967032967vw , 2.5rem )) {
    .page__about {
      padding-bottom: calc(0.625rem + 1.875 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem )) {
    .team__title {
      margin-bottom: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem )) {
    .team__title {
      margin-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem )) {
    .item-team__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem )) {
    .item-team__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.75 * (100vw - 20rem) / 56.875);
    }
}
}

@media (min-width: 106.25em) and (min-width: 20em) and (max-width: 76.875em) {
@supports (font-size: clamp( 5.625rem , 5.4052197802rem  +  1.0989010989vw , 6.25rem )) {
    .title_big {
      font-size: clamp( 5.625rem , 5.4052197802rem  +  1.0989010989vw , 6.25rem );
    }
}

@supports not (font-size: clamp( 5.625rem , 5.4052197802rem  +  1.0989010989vw , 6.25rem )) {
    .title_big {
      font-size: calc(5.625rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.75rem , 1.5302197802rem  +  1.0989010989vw , 2.375rem )) {
    .text {
      font-size: clamp( 1.75rem , 1.5302197802rem  +  1.0989010989vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.5302197802rem  +  1.0989010989vw , 2.375rem )) {
    .text {
      font-size: calc(1.75rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}
}

@media (min-width: 106.25em) and (max-width: 20em) {
  .title_big {
    font-size: 5.625rem;
  }

  .text {
    font-size: 1.75rem;
  }
}

@media (min-width: 47.99875em) and (min-width: 48em) and (max-width: 75em) {
@supports ((-moz-column-gap: clamp( 0.9375rem , -3.6180555556rem  +  9.4907407407vw , 3.5rem )) or (column-gap: clamp( 0.9375rem , -3.6180555556rem  +  9.4907407407vw , 3.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , -3.6180555556rem  +  9.4907407407vw , 3.5rem );
         -moz-column-gap: clamp( 0.9375rem , -3.6180555556rem  +  9.4907407407vw , 3.5rem );
              column-gap: clamp( 0.9375rem , -3.6180555556rem  +  9.4907407407vw , 3.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -3.6180555556rem  +  9.4907407407vw , 3.5rem )) or (column-gap: clamp( 0.9375rem , -3.6180555556rem  +  9.4907407407vw , 3.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 2.5625 * (100vw - 48rem) / 27);
         -moz-column-gap: calc(0.9375rem + 2.5625 * (100vw - 48rem) / 27);
              column-gap: calc(0.9375rem + 2.5625 * (100vw - 48rem) / 27);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 48em) {
  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}

@media (any-hover: hover) {
  .header__button:hover {
    color: #fff;
    background-color: #ff285b;
    border: 0.0625rem solid #ff285b;
  }

  .menu__link:hover {
    color: #ff285b;
  }

  .menu__link span:hover {
    color: #fff;
  }

  .footer__copy a:hover {
    text-decoration: underline;
  }

  .section__privacy a:hover {
    text-decoration: underline;
  }

  .desc-section__social img:hover {
    scale: 1.2;
  }

  .contacts-section__item a:hover {
    text-decoration: underline;
  }

  .products__arrow:hover {
    background-color: #4f4f55;
  }

  .item-products__image-ibg:hover {
    opacity: 1;
  }

  .item-products__image-ibg:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .teamrun__image-ibg:hover {
    opacity: 0.5;
  }

  .teamrun__image-ibg:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .teamrun__body_link:hover {
    background-color: #ff285b;
  }

  .participants__rate:hover {
    background-color: #f45d03;
  }

  .footer-posts__like img:hover,
  .footer-posts__comments img:hover,
  .footer-posts__share img:hover {
    scale: 1.1;
  }

  .item-team__text a:hover {
    text-decoration: underline;
  }
}